.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-bg);
  color: var(--nav-text);
  padding: 16px 20px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  transition: background 1s ease, color 1s ease;
}

.logo {
  height: 38px;
  z-index: 10;
}

.desktop-nav {
  display: flex;
  gap: 24px;
}

.desktop-nav a {
  color: var(--nav-text);
  text-decoration: none;
  font-weight: 500;
}

.desktop-nav a:hover {
  color: var(--accent-color);
}


/* ######################### BURGUER BTN */

.hamburger {
  width: 32px;
  height: 28px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 6px;
  background: var(--nav-text);
  border-radius: 4px;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.mobile-menu {
  position: fixed;
  inset: 0;
  background: var(--nav-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.mobile-menu.show {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu a {
  font-size: 1.8rem;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}

.mobile-menu a:hover {
  color: var(--accent-color);
}

/* Centraliza também o botão de tema */
.mobile-theme-toggle {
  margin-top: 40px;
}


/* ######################### MOBILE */

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
