:root[data-theme="light"] {
  --bg-color: #dddcd1;
  --text-color: #17151a;
  --nav-bg: #dfdfdf;
  --nav-text: #1f1f1f;
  --button-bg: #e3e3e3;
  --button-text: #1f1f1f;
  --accent-color: #6a8cff;
}

:root[data-theme="dark"] {
  --bg-color: #17151a;
  --text-color: #dddcd1;
  --nav-bg: #0f0f0f;
  --nav-text: #ffffff;
  --button-bg: #3a3a3a;
  --button-text: #ffffff;
  --accent-color: #8aa2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background 1s ease, color 1s ease;
}